@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin mobile-h3-font {
  line-height: 24px;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

@mixin paddingBorders {
  padding-left: 16px;
  padding-right: 16px;
}

$grayBorder: 1px solid rgba(0, 0, 0, 0.1);

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #040404;
}

.container {
  max-width: 1274px;
  @include flex-center;
  @include paddingBorders;
  overflow: hidden;
}

.subheadline {
  font-variation-settings: 'wght' 533;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
}

header p,
h1 {
  text-align: center;
}

h1 {
  font-size: 45px;
  margin-bottom: 0px;
  line-height: 50px;
}

.hero-span {
  display: inline-flex;
  height: 45px;
}

.hero-span img {
  margin-right: 5px;
}

.the-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
}

.span-12 {
  grid-column: span 12;
}

.hero-image-people {
  max-width: 100%;
}

.hero-image-platform {
  width: 120vw;
  height: auto;
  margin-left: 16px;
}

.hero-images {
  padding-top: 30px;
}
.border {
  border: $grayBorder;
  border-radius: 6px;
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.2);
}

header div:first-child {
  width: 100%;
  @include center;
}

.button {
  @include flex-center;
  min-height: 36px;
  font-weight: 570;
  font-size: 1rem;
  color: white;
  background-color: #040404;
  padding: 0.05rem 0.75rem;
  border-radius: 5px;
}

.header-container {
  max-width: 295px;
  @include flex-center;
  flex-direction: column;
}

.space {
  min-height: 80px;
}

.proof {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  a {
    color: black;
  }
  img {
    margin-top: 16px;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 23px;
  font-variation-settings: 'wght' 450;
  color: #040404;
}

.section {
  h2 {
    font-size: 1.875rem;
    line-height: 2.125rem;
    font-weight: 700;
    text-align: center;
  }
  h3 {
    @include mobile-h3-font;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .sub-class:nth-of-type(1) a {
    color: #ea4e43;
  }
  .sub-class:nth-of-type(2) a {
    color: #960;
  }
  .sub-class:nth-of-type(3) a {
    color: #0a85d1;
  }
}

.h3-headline {
  @include flex;
  align-items: end;
  gap: 14px;
}

.bookOpen {
  color: #ea4e43;
}

.doc {
  color: #faa700;
}

.target {
  color: #0a85d1;
}

.small-people {
  max-width: 120px;
  position: relative;
  top: 20px;
}

.images-features {
  @include flex;
  align-items: end;
  margin-bottom: 80px;
}

.screenshots {
  max-height: 250px;
}

.spacing {
  white-space: pre-line;
}

.old-tools {
  @include flex;
  position: relative;
  width: 100%;
  height: 250px;
  .old-tools {
    position: absolute;
    width: 550px;
    object-fit: contain;
    right: 60px;
  }

  .strikethrough {
    position: absolute;
    width: 750px;
    right: 62px;
  }
  .pencil-peek {
    position: absolute;
    width: 100px;
    right: -30px;
  }
}

.quote {
  font-family: 'Merriweather', serif;
  @include mobile-h3-font;
  text-align: center;
}

.testimony {
  @include flex;
  flex-direction: column;
  img {
    max-width: 120px;
    margin-bottom: 10px;
  }

  p,
  div {
    font-size: 0.84375rem;
    letter-spacing: 0.0075em;
    margin-top: 0;
    margin-left: 0;
  }

  div {
    font-weight: 900;
  }
}

.free-trial {
  gap: 8px;
  @include flex;
  flex-direction: column;
  text-align: center;
  h2 {
    font-size: 2.8125rem;
    line-height: 3.0625rem;
  }
  div {
    @include flex;
    margin-top: 6px;
    margin-bottom: 15px;
    gap: 16px;
    a {
      color: #0a85d1;
    }
    .button {
      margin: 0;
    }
  }
  img {
    max-width: 100%;
    border-bottom: $grayBorder;
  }
}

footer {
  column-count: 2;
  column-gap: 24px;
  @include paddingBorders;
  ul {
    padding-left: 20px;
    list-style: none;
    page-break-inside: avoid;
    break-inside: avoid;

    li {
      font-size: 15px;
      line-height: 20px;
      color: #000000;
      opacity: 0.6;
      letter-spacing: 0.0135px;
      margin-top: 8px;
    }
    margin-bottom: 36px;
  }
  margin-bottom: 100px;
}

.list-name {
  opacity: 1;
  color: #040404;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: column;
}
