html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark light;
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #040404;
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  max-width: 1274px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.subheadline {
  font-variation-settings: "wght" 533;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
}

header p,
h1 {
  text-align: center;
}

h1 {
  font-size: 45px;
  margin-bottom: 0px;
  line-height: 50px;
}

.hero-span {
  display: inline-flex;
  justify-content: center;
  height: 45px;
}

.hero-span img {
  margin-right: 5px;
}

.the-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
}

.span-12 {
  grid-column: span 12;
}

.hero-image-people {
  max-width: 100%;
}

.hero-image-platform {
  width: 120vw;
  height: auto;
  margin-left: 16px;
}

.hero-images {
  padding-top: 30px;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.2);
}

header div:first-child {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bookOpen {
  color: #ea4e43;
  width: 31px;
  height: 31px;
  display: block;
  flex-shrink: 0;
}

.doc {
  color: #faa700;
  width: 31px;
  height: 31px;
  display: block;
  flex-shrink: 0;
}

.target {
  color: #0a85d1;
  width: 31px;
  height: 31px;
  display: block;
  flex-shrink: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  font-weight: 570;
  font-size: 1rem;
  color: white;
  background-color: #040404;
  padding: 0.05rem 0.75rem;
  border-radius: 5px;
}
.button span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: scaleX(0.7) rotate(45deg);
}

.header-container {
  max-width: 295px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.space {
  min-height: 80px;
}

.proof {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.proof a {
  color: black;
}
.proof img {
  margin-top: 16px;
  margin-bottom: 25px;
}
.proof .desktop {
  display: none;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

p {
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 23px;
  font-variation-settings: "wght" 450;
  color: #040404;
}

.section h2 {
  font-size: 1.875rem;
  line-height: 2.125rem;
  font-weight: 700;
  text-align: center;
}
.section h3 {
  line-height: 24px;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.section .sub-class:nth-of-type(1) a {
  color: #ea4e43;
}
.section .sub-class:nth-of-type(2) a {
  color: #960;
}
.section .sub-class:nth-of-type(3) a {
  color: #0a85d1;
}

.h3-headline {
  display: flex;
  align-items: center;
  align-items: end;
  gap: 14px;
}

.small-people {
  max-width: 120px;
  position: relative;
  top: 20px;
}

.images-features {
  display: flex;
  align-items: center;
  align-items: end;
  margin-bottom: 80px;
}

.section .big {
  display: none;
}

.screenshots {
  max-height: 250px;
}

.spacing {
  white-space: pre-line;
}

.old-tools {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 250px;
}
.old-tools .old-tools {
  position: absolute;
  width: 550px;
  -o-object-fit: contain;
     object-fit: contain;
  right: 60px;
}
.old-tools .strikethrough {
  position: absolute;
  width: 750px;
  right: 62px;
}
.old-tools .pencil-peek {
  position: absolute;
  width: 100px;
  right: -30px;
}

.mobile-phone {
  display: none;
}

.quote {
  font-family: "Merriweather", serif;
  line-height: 24px;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
}

.testimony {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimony img {
  max-height: 30px;
  margin-bottom: 10px;
}
.testimony p,
.testimony div {
  font-size: 0.84375rem;
  letter-spacing: 0.0075em;
  margin-top: 0;
  margin-left: 0;
}
.testimony div {
  font-weight: 900;
}

.free-trial {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.free-trial h2 {
  font-size: 45px;
  line-height: 50px;
  margin-top: 0;
}
.free-trial div {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 15px;
  gap: 16px;
}
.free-trial div a {
  color: #0a85d1;
}
.free-trial div .button {
  margin: 0;
}
.free-trial img {
  max-width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 100px;
}
footer ul {
  padding-left: 20px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  margin-bottom: 20px;
}
footer ul li {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  opacity: 0.6;
  letter-spacing: 0.0135px;
  margin-top: 8px;
}

.list-name {
  opacity: 1;
  color: #040404;
  font-weight: 600;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
.links .social {
  display: grid;
  margin-left: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}

body > nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.logo svg {
  height: 30px;
}

.nav-container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav .desktop-ctas {
  display: none;
}

.hamburger {
  font-size: 20px;
}

.navigation-container {
  display: none;
}

.hamburger:hover .navigation-container {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: white;
  font-size: 17px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: auto;
  line-height: 60px;
}
.hamburger:hover .navigation-container .button {
  height: 30px;
  margin-top: 20px;
}
.hamburger:hover .navigation-container .ctas {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}

.submenu-container .main:after {
  content: url(arrow-down.svg);
  width: 20px;
  margin-left: 5px;
}

.second-menu {
  display: none;
}

.submenu-container:hover .second-menu {
  display: block;
  line-height: 30px;
}

.main {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 60px;
  font-weight: bold;
}

.login {
  background-color: white;
  color: #040404;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.features2 {
  margin-top: 70px;
  margin-bottom: 110px;
  position: relative;
}
.features2 > img {
  position: absolute;
  width: 180px;
}

.section2-features > div {
  background-color: #f6f5f4;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.section2-features img {
  margin-top: 20px;
  max-width: 100%;
}
.section2-features div:nth-of-type(1) img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.section2-features div:nth-of-type(2) {
  padding-bottom: 0;
  padding-right: 6px;
}
.section2-features div:nth-of-type(2) img {
  border-radius: 12px;
}
.section2-features div:nth-of-type(3) {
  padding-bottom: 0;
  padding-right: 6px;
}
.section2-features div:nth-of-type(3) img {
  border-radius: 12px;
}

/* Responsive design */
@media (min-width: 600px) {
  h1 {
    font-size: 76px;
    line-height: 78px;
  }
  img {
    max-width: 95vw;
  }
  .hero-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-images div {
    position: relative;
  }
  .hero-span {
    height: 70px;
  }
  .header-container {
    max-width: 450px;
  }
  .container {
    padding-left: 66px;
    padding-right: 66px;
  }
  footer {
    padding-left: 66px;
    padding-right: 66px;
    margin-bottom: 120px;
  }
  .old-tools .pencil-peek {
    right: -80px;
  }
  .old-tools .strikethrough {
    right: 15px;
    width: 90vw;
  }
  .old-tools .old-tools {
    width: 90vw;
  }
  .screenshots {
    max-height: 45vw;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-image-platform {
    width: 108vw;
  }
  .features2 > img {
    left: -50px;
  }
  .features2 h2 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header-container {
    max-width: 1000px;
  }
  .header-container p {
    font-size: 1.5rem;
    margin-top: 15px;
    max-width: 550px;
    line-height: 30px;
    font-variation-settings: "wght" 525;
  }
  .the-grid {
    width: 70%;
  }
  .container {
    max-width: 100%;
  }
  .screenshots {
    max-height: 320px;
  }
  h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .hero-image-platform {
    max-width: 1200px;
  }
  .mobile-phone {
    display: block;
    position: absolute;
    max-height: 75%;
    right: -85px;
    bottom: 0;
  }
  .section h2 {
    font-size: 45px;
    line-height: 50px;
    max-width: 500px;
  }
  p {
    font-variation-settings: "wght" 450;
  }
  .sub-class {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    margin-top: 35px;
  }
  .screenshots {
    max-height: 1200px;
    max-width: 1000px;
    position: relative;
    right: -50px;
  }
  .small-people {
    max-width: 220px;
    top: 115px;
    left: 65px;
  }
  .section .small {
    display: none;
  }
  .section .big {
    display: block;
  }
  .border {
    border-radius: 12px;
  }
  .competitors {
    position: relative;
  }
  .old-tools {
    height: 250px;
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .old-tools .old-tools {
    width: 730px;
    position: initial;
  }
  .old-tools .strikethrough {
    width: 1000px;
    right: 97px;
    top: 220px;
  }
  .old-tools .pencil-peek {
    width: 220px;
    right: 14px;
    top: 53px;
  }
  .quote {
    max-width: 700px;
    font-size: 30px;
    line-height: 34px;
  }
  .free-trial h2 {
    font-size: 61px;
    line-height: 65px;
    max-width: 100%;
  }
  .proof .desktop {
    display: block;
  }
  .proof .mobile {
    display: none;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, min-height);
    align-items: start;
  }
  .links .social {
    grid-column: 1;
    margin-top: 5px;
  }
  .links .list-1 {
    grid-column: 2;
  }
  .links .list-3 {
    grid-column: 2;
    grid-row: 2;
  }
  .links .list-2 {
    grid-column: 3;
    grid-row: 1;
  }
  .links .list-4 {
    grid-column: 3;
    grid-row: 2;
  }
  .links .list-6 {
    grid-column: 2;
    grid-row: 3;
  }
  .links .list-7 {
    grid-column: 4;
    grid-row: 2;
  }
  .hamburger {
    width: 100%;
  }
  .hamburger span {
    display: none;
  }
  .navigation-container {
    display: initial;
    height: auto;
    width: auto;
  }
  .nav-menu {
    display: flex;
    align-content: space-between;
    margin-left: 20px;
  }
  .nav-menu > div {
    margin-left: 20px;
  }
  .nav-menu .main {
    border-top: 0;
    font-size: 15px;
    font-weight: 544;
    line-height: 31px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-container {
    justify-content: flex-start;
    padding-top: 15px;
  }
  .nav-container .ctas {
    display: none;
  }
  .nav-container .desktop-ctas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .nav-container .desktop-ctas .login {
    border: none;
    margin-right: 10px;
  }
  .hamburger:hover .navigation-container {
    display: block;
    position: initial;
    top: auto;
    left: auto;
    background-color: none;
    width: auto;
    height: auto;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    line-height: 60px;
  }
  .hamburger:hover .navigation-container .button {
    border-top: none;
    margin-top: 0;
  }
  .submenu-container:hover .second-menu {
    display: block;
    position: absolute;
    top: 60px;
    line-height: 30px;
    background-color: white;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 10px;
  }
  .section2-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .section2-features div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .section2-features div:nth-of-type(2) {
    margin-right: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section2-features div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  .section2-features {
    max-width: 1100px;
  }
  .features2 {
    margin-bottom: 160px;
  }
  .features2 > img {
    left: -80px;
    width: 260px;
  }
  .features2 h2 {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */